/* =============================================
    Default Theme
    --------------------------------------------
    Fonts: Poppins & Open Sans
    --------------------------------------------
    Colors:
        White Smoke:                 #e3e3e3
        Blue-1:                      #063cd1
        Blue-2:                      #7593e5
=============================================== */

/* ============================================
                Body,Html
=============================================== */
*,*::before,*::after{
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #707070;
}


/* ============================================
                Topbar
=============================================== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .08);
}
.topbar-logo {
    font-size: 18px;
    font-weight: 1000;
}
.topbar a{
    text-decoration: none;
    color:  #2D56C7;
    font-size: 12px;
    cursor: pointer;
}

.topbar-nav a {
    padding-right: 45px;
}

#login {
    color: #ffffff;
    background: #2D56C7;
    padding: 10px 35px;
    border-radius: 35px;
    font-weight: 600;
    cursor: pointer;
}

#login:hover {
    background: #000000;
    color: #ffffff;
}



/* ============================================
                Secteur-1
=============================================== */
.secteur-1 {
    display: flex;
    padding: 0 80px;
    justify-content: space-between;
    padding-bottom: 25px;
}

.secteur-1-left {
    margin-top: 150px;
}
.titre-section-1{
    margin-bottom: 50px;
    width: 500px;
    height: 65px;
}
.titre-section-1 h1{
    line-height: 35px;
    color: #2D56C7;
    font-size: 30px;
    font-weight: 800;
}

.text-section-1 {
    margin-bottom: 50px;
    width: 450px;
    height: 45px;
}
.text-section-1 p {
    font-size: 17px;
    color: #2D56C7;
}
input {
    position: relative;
    display: inline-block;
    font-size: 13px;
}
input[type="text"]{
    width: 300px;
    height: 45px;
    padding: 0 25px;
    border: 1px solid #2D56C7;
    border-radius: 50px 0 0 50px;
}
input[type="submit"]{
    width: 70px;
    height: 45px;
    left: -37px;
    position: relative;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background: #063cd1;
    color: #ffffff;
}
input[type="submit"]:hover{
    background: #000000;
    color: #ffffff;
}

.secteur-1-right{
    width: 560px;
    height: 530px;
    margin-top: 50px;
}
img {
    width: 100%;
    height: 100%;
    
}


/* ============================================
                Section-2
=============================================== */

.section-2 {
    position: relative;
    background: #063cd1;
    height: 275px;
    padding: 50px 50px 120px 50px;
}
.section-2-cardre {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 950px;
    padding: 25px 60px 125px 60px;
}
.section-2-titre {
    font-size: 17px;
    font-weight: 600;
    color: #2D56C7;
    text-align: center;
    margin: 40px 0;
}
.sous-section-2{
    padding: 0 50px;
}
.section-2-cardre img{
    width: 200px;
    height: 150px;
    padding: 10px 30px;
    
}
.section-2-cardre img:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
.img-part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.img-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mango{
    padding: 35px;
}

/* ============================================
                Section-3
=============================================== */
.section-3 {
    margin-top: 600px;
    box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.1);
}
.section-3 h3 {
    text-align: center;
}
.card {
    width: 300px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 45px;
}
.card p {
    color: black;
}
.card-header {
    height: 200px;
    overflow: hidden;
}

.section-3 .col-md-4 {
    padding: 0;

}
.section-3 .container {
    padding-bottom: 100px;
}
.card-header img {
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card-title {
    height: 50px;
    padding: 40px 0 40px 20px;
    position: relative;
}
.card-title img {
    height: 28px;
    margin-left: 5px;
    position: absolute;
    top: 38px;
    right: 60px;
}
.card-title span{
    position: absolute;
    top: 16px;
    right: 0;
    margin-top: 10px;
    background: #063cd1;
    color: #ffffff;
    font-size: 13px;
    font-weight: 800;
    padding: 14px 14px 14px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
}
.card-description {
    height: 125px;
    padding: 10px 40px 40px 20px;
}
.card-description h6 {
    font-size: 15px;
    font-weight: 750;
}
.card-footer {
    height: 50px;
    position: relative;
}
.card-footer span {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 35px;
    color: #063cd1;
}


/* ============================================
                Section-4
=============================================== */
.section-4 {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.section-4-image {
    width: 320px;
    margin-left: 161px;
}
.section-4-text {
   width: 434px;
}
.titre-section-4 {
    font-size: 16px;
    font-weight: 600;
    color: #2D56C7;
    margin-bottom: 20px;
}
.text-1-section-4 {
    padding-bottom: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #2D56C7;
}
.text-2-section-4 p {
    line-height: 35px;
}


/* ============================================
                Section-5
=============================================== */
.section-5 {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.section-5-image {
    width: 500px;
}
.section-5-text {
   width: 434px;
}
.titre-section-5 {
    font-size: 16px;
    font-weight: 600;
    color: #2D56C7;
    margin-bottom: 20px;
}
.text-1-section-5 {
    padding-bottom: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #2D56C7;
}
.text-2-section-5 p {
    line-height: 35px;
}


/* ============================================
                Section-6
=============================================== */
.section-6 {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.section-6-image {
    width: 500px;
}
.section-6-text {
   width: 434px;
}
.titre-section-6 {
    font-size: 16px;
    font-weight: 600;
    color: #2D56C7;
    margin-bottom: 20px;
}
.text-1-section-6 {
    padding-bottom: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #2D56C7;
}
.text-2-section-6 p {
    line-height: 35px;
}

/* ============================================
                Section-7
=============================================== */
.section-7 {
    background: #063cd1;
    padding: 50px;
    text-align: center;
    line-height: 50px;
}
.section-7 .test-1 {
    font-size: 27px;
    color: #ffffff;
}
.section-7-text .test-2{
    font-size: 11px;
    color: #ffffff;
}
.section-7-button {
    margin: 35px 0;
}
.section-7-button a {
    background: #ffffff;
    padding: 15px 50px;
    border-radius: 25px;
    text-decoration: none;
}

.section-7-button a:hover{
    background: #000000;
    color: #ffffff;
}

/* ============================================
                Footer
=============================================== */
.footer {
    font-size: 14px;
    line-height: 20px;
    
}
footer a{
    text-decoration: none;
    color: #707070
}
.begin-footer{
    display: flex;
    justify-content: space-between;
    padding: 70px 175px;
}
.footer h5{
    display: block;
    font-weight: 700;
    margin-bottom: 25px;
}
.end-footer{
    text-align: center;
    margin: 25px 0;
}
.end-footer span{
    font-weight: 700;
}